* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  background-color: rgb(169, 206, 207);
  font-size: 16px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}
